name: Deploy

# Controls when the action will run. 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: |
          npm install
          npx webpack
      - name: List
        run:
          ls -lat
      - name: Push new build
        run: |
          cd dist
          git init .
          git remote set origin https://github.com/yuanmingyi/snake.git
          git config --local user.email "millan.yuan@gmail.com"
          git config --local user.name "yuanmingyi"
          git checkout -b gh-pages
          git add .
          git commit -m 'update new build' || echo "nothing to commit"
          git push -f origin gh-pages || echo "nothing to push"