name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x

    - name: Build
      run: |
        npm install
        npx webpack

    - name: GitHub Pages
      uses: crazy-max/ghaction-github-pages@v4
      with:
        # Git branch where site will be deployed
        target_branch: gh-pages
        # Create incremental commit instead of doing push force
        keep_history: true
        # Build directory to deploy
        build_dir: dist
        # Write the given domain name to the CNAME file
        #fqdn: custom.domain.name # optional
        # Prevent Jekyll from building the site
        jekyll: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
